*.jar
*.war
*.ear
*.class

# Idea specific git ignore
.idea

# eclipse specific git ignore
*.pydevproject
.project
.metadata
*target*
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

#Mac files
.DS_Store
*.DS_Store
